@font-face {
    font-family: 'Avant Garde Medium BT_0';
    src: url('../fonts/avantgarde_medium/Avant Garde Medium BT_0.eot');
    src: url('../fonts/avantgarde_medium/Avant Garde Medium BT_0.woff2') format('woff2'),
    url('../fonts/avantgarde_medium/Avant Garde Medium BT_0.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeITCbyBT-Medium';
    src: url('../fonts/avantgarde_medium/AvantGardeITCbyBT-Medium.woff') format('woff'),
    url('../fonts/avantgarde_medium/AvantGardeITCbyBT-Medium.ttf') format('truetype'),
    url('../fonts/avantgarde_medium/AvantGardeITCbyBT-Medium.svg#AvantGardeITCbyBT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeStd-Bold';
    src: url('../fonts/avantgarde_bold/ITCAvantGardeStd-Bold.eot');
    src: url('../fonts/avantgarde_bold/ITCAvantGardeStd-Bold.woff2') format('woff2'),
    url('../fonts/avantgarde_bold/ITCAvantGardeStd-Bold.woff') format('woff'),
    url('../fonts/avantgarde_bold/ITCAvantGardeStd-Bold.ttf') format('truetype'),
    url('../fonts/avantgarde_bold/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg'),
    url('../fonts/avantgarde_bold/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avant Garde Book BT_0';
    src: url('../fonts/avantgarde_book/Avant Garde Book BT_0.eot');
    src: url('../fonts/avantgarde_book/Avant Garde Book BT_0.woff2') format('woff2'),
    url('../fonts/avantgarde_book/Avant Garde Book BT_0.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeITCbyBT-Book';
    src: url('../fonts/avantgarde_book/AvantGardeITCbyBT-Book.woff') format('woff'),
    url('../fonts/avantgarde_book/AvantGardeITCbyBT-Book.ttf') format('truetype'),
    url('../fonts/avantgarde_book/AvantGardeITCbyBT-Book.svg#AvantGardeITCbyBT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
    margin:0;
    padding: 0;
    overflow: hidden !important;
    font-family: ITCAvantGardeStd-Bold;
    font-size: 1.4vw;
}