#informationen-view{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: none;
}

.wrapper{
    position: relative;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.flex {
    justify-content: space-between;
    display: flex;
    align-content: center;
    background: transparent;
}

.infoLeft {
    background: transparent;
    margin: 0.9vw;
    margin-bottom: 5vw;
    position: relative;
}

.infoRight {
    background: transparent;
    margin: 0.9vw;
    margin-top: 5vw;
    position: relative;
}

.img_Farbe_single {
    justify-content: space-between;
    display: flex;
    align-content: center;
    width: 20vw;
}

.img_Farbe_single > div{
    width: 20vw;
    height: 20vw;
    background: transparent;
}

.img_Farbe_single > div:last-child {
    margin-top: 1.7vw;
}

.infoFarben {
    text-align: left;
}

.img_Farben {
    display: flex;
    align-content: center;
    width: 20vw;
    flex-wrap: wrap;
}

.img_Farben > div {
    width: 4.7vw;
    height: 4.7vw;
    background: transparent;
    margin: 0.12vw;
    position: relative;
    display: inline-block;
    background-image: url(../img/default.jpg);
}

.infoKaufen {
    justify-content: space-between;
    align-content: center;
    width: 20vw;
}

.infoKaufen > div{
    width: 20vw;
    background-color: transparent;
    text-align: left;
}

.infoButton {
    font-family: ITCAvantGardeStd-Bold;
    font-size: 0.95vw;
    color: white;
    background-color: black !important;
    width: intrinsic !important;           /* Safari/WebKit verwendet einen nicht standardisierten Namen */
    width: -moz-max-content !important;    /* Firefox/Gecko */
    width: -webkit-max-content !important; /* Chrome */
    margin-bottom: -0.55vw;
    cursor: pointer;
}

.infoButton p {
    text-align: center;
    padding: 0.5vw;
}

.infoPreis{
    margin-bottom: 0vw;
    font-size: 1.4vw;
    font-family: ITCAvantGardeStd-Bold;
}

.infoText {
    justify-content: space-between;
    display: flex;
    align-content: center;
    width: 20vw;
    margin-top: 2vw;
}

.infoText > div{
    width: 20vw;
    height: 15vw;
    background: transparent;
    font-family: "Avant Garde Medium BT_0";
    font-size: 0.95vw;
    text-align: left;
}

.infoPfeile > div{
    display: inline-block;
    margin-top: 2vw;
}

.infoVideoLeft {
    width: 15vw;
    height: 10vw;
    position: absolute;
    display: none;
}

.infoVideoRight {
    width: 15vw;
    height: 10vw;
    position: absolute;
    display: none;
}

#vLeft {
    width: 100%;
    transform: scale(1.5);
}

#vRight {
    width: 100%;
    transform: scale(1.5);
}

.scroll_down {
    width: 1.5vw;
    padding-left: 2vw;
}

.scroll_up {
    width: 1.5vw;
}

.infoParagraph {
    margin: 0!important;
    line-height: 1.5vw;
}