#help-view {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: none;
}

.helpMeButton {
    width: 2.5vw;
    height: 2.5vw;
    border: solid black 0.1vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
    z-index: 11000;
    font-family: ITCAvantGardeStd-Bold;
    font-size: 1vw;
    cursor: pointer;
}

.helpMeButton2 {
    width: 8.5vw;
    height: 2.5vw;
    border: solid black 0.1vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
    z-index: 12000;
    font-family: ITCAvantGardeStd-Bold;
    font-size: 1vw;
    cursor: pointer;
    opacity: 0;
    transform: matrix(0.31, 0, 0, 1, 0, 0);
    display: none;
}

.help_click1{
    opacity: 0;
    position: absolute;
    left: 0.6vw;
}

.help_click2 {
    opacity: 0;
    position: absolute;
    left: 0.5vw;
}

.helpMeButton2 p {
    margin: 0.6vw;
    text-align: center;
}

.helpMeButton:hover{
    cursor: pointer;
}

.helpMeButton p {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: ITCAvantGardeStd-Bold;
    font-size: 1vw;
}

.helpBar1 {
    width: 27.5vw;
    height: 100vh;
    background-color: black;
    left: 0;
}

.helpBar2 {
    width: 45vw;
    height: 100vh;
    background-color: black;
    left: 27.5vw;
}

.helpBar3 {
    width: 27.5vw;
    height: 100vh;
    background-color: black;
    left: 72.5vw;
}

.helpBars > div {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 15000;
}

.helpBubbles > div{
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 100%;
    background-color: white;
    z-index: 15100;
    position: absolute;
    top: 88vh;
}

.helpBubLeft {
    left: 8vw;
}

.helpBubRight {
    left: 88vw;
}

.helpTexte{
    position: absolute;
    z-index: 15000;
    color: white;
    width: 75vw;
    padding-bottom: 2vw;
}

.helpWrapper {
    position: relative;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    height: 100vh;
    z-index: 15999;
}

.help_text_top {
    font-size: 1vw;
    font-family: "Avant Garde Medium BT_0";
    padding-bottom: 5vw;
}

.help_close {
    width: 2vw;
    height: 2vw;
    position: absolute;
    left: 55vw;
    z-index: 16000;
    cursor: pointer;
}

.img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.my-progress-bar {
    position: absolute !important;
    display: inline-block;
    top: 4.4vw;
    left: 23.5vw;
}

.progress > div, .progress > img {
    margin-top: 1vw;
}

.helpWaitTexte {
    position: relative;
    width: 25vw;
    margin-left: 0vw;
    top: 8vw;
}

.helpWaitTexte div {
    position: absolute;
    width: 20vw;
    top: -3vw;
    left: 15vw;
}

.wait1 {
    font-size: 0.75vw;
    font-family: 'Avant Garde Medium BT_0';
    opacity: 0;
}

.wait2 {
    font-size: 0.75vw;
    font-family: 'Avant Garde Medium BT_0';
    opacity: 0;
}

.wait3{
    font-size: 0.75vw;
    font-family: 'Avant Garde Medium BT_0';
    opacity: 0;
}

.wait4 {
    font-size: 0.75vw;
    font-family: 'Avant Garde Medium BT_0';
    opacity: 0;
}

.help_text1 {
    width: 50vw;
}

.help_text2 {
    width: 50vw;
}

.help_text3 {
    width: 50vw;
}

.clickDiv {
    width: 50vw;
    height: 10vw;
    top: -2.5vw;
    position: absolute;
    z-index: 20000;
}