<ion-content class="login-modal">
  <form id="fpForm" class="ion-margin-top" name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

    <ion-title class="ion-text-center">Zugangsdaten anfordern</ion-title>

    <p class="ion-text-center login-text">
      Tragen Sie hier Ihre E-Mail-Adresse ein und Ihr Administrator meldet sich mit den Zugangsdaten.
    </p>

    <ion-input type="email" name="email" [(ngModel)]="form.email" required #email="ngModel" placeholder="User-Email"></ion-input>
    <ion-text class="login-error-text" color="danger" *ngIf="email.errors && f.submitted">
      <small class="ion-padding-start">User email is required!</small>
    </ion-text>

    <ion-input type="email" name="confirmEmail" [(ngModel)]="form.confirmEmail" required #confirmEmail="ngModel" placeholder="Ihre E-Mail-Adresse"></ion-input>
    <ion-text class="login-error-text" color="danger" *ngIf="confirmEmail.errors && f.submitted">
      <small class="ion-padding-start">Ihre E-Mail-Adresse is required!</small>
    </ion-text>

    <ion-row class="ion-margin-top login-row">
      <ion-col class="ion-text-end">
        <ion-button type="submit" color="dark" expand="full" [disabled]="isShowLoader">Anfordern</ion-button>
      </ion-col>
      <ion-col class="ion-text-start">
        <ion-button type="button" color="dark" expand="full" (click)="dismiss()" [disabled]="isShowLoader">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top login-row">
      <ion-col class="ion-text-center">
        <ion-spinner *ngIf="isShowLoader"></ion-spinner>
        <!--<ion-text color="danger" *ngIf="f.submitted && isResetFailed && !isShowLoader">
          <small>Error: {{ message }}</small>
        </ion-text>
        <ion-text color="success" *ngIf="f.submitted && isLinkSent && !isShowLoader">
          <small>Success: {{ message }}</small>
        </ion-text>-->
      </ion-col>
    </ion-row>

  </form>
</ion-content>
